mixin private-form
  +b.private-form
    +e.wrap-elements
      +e.wrap-icon
        +e.IMG.icon(src="img/users-icon.svg")
      +e.title Частное лицо
      +e.text После регистрации вы сможете настроить свой личный кабинет у получить персональные скидки
      +e.INPUT.input(placeholder="Контактное лицо ФИО")
      +e.INPUT.input(type="tel" placeholder="Номер телефона")
      +e.INPUT.input(type="email" placeholder="Почта*")
      +e.wrap-btn
        +e.BUTTON.btn(href="#") Зарегистрироваться