.table {
  min-width: 100%;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td, th {
    border-bottom: 1px solid #ECECEC;
  }
  
  td {
    padding: 20px 10px;
    line-height: 1.6;
    color: #3A3A3A;
    @media (max-width: 1140px) {
      white-space: nowrap;
      padding: 20px;
    }
  }

  td:first-child {
    padding-left: 0;
    @media (max-width: 1140px) {
      padding-left: 0;
    }
  }

  td:last-child {
    padding-right: 0;
    @media (max-width: 1140px) {
      padding-left: 0;
    }
  }
  
  th {
    padding: 20px 10px;
    font-weight: 400;
    text-align: left;
    color: #777777;
    @media (max-width: 1140px) {
      white-space: nowrap;
      padding: 20px;
    }
  }

  th:first-child {
    padding-left: 0;
  }

  .ellipse {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &--100 {
      background-image: url(../img/ellipse100.svg);
    }
    &--75 {
      background-image: url(../img/ellipse75.svg);
    }
    &--50 {
      background-image: url(../img/ellipse50.svg);
    }
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  &__link-arrow {
    display: inline-block;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
  }
}
