mixin tech-block
  +b.tech-block.mb-60
    +e.item
      +e.icon-wrap
        include /assets/img/reload-time-icon.svg
      +e.small-title Сервисная поддержка
      +e.big-title 24/7
    +e.item
      +e.icon-wrap
        img(src="img/phone.png", alt="")
      +e.small-title Бесплатная горячая линия
      +e.big-title 8 800 555 19 28
    +e.item
      +e.icon-wrap
        include /assets/img/setting-big-icon.svg
      +e.small-title Напишите нам
      +e.big-title to@arlift.ru
