
include ../blocks/login-form/login-form.pug
include ../blocks/advantages-cabinet/advantages-cabinet.pug
include ../blocks/choice-block/choice-block.pug
include ../blocks/legal-form/legal-form.pug
include ../blocks/succes/succes.pug
include ../blocks/menu/menu.pug
include ../blocks/profile-card/profile-card.pug