
include ../blocks/login-form/login-form.pug
include ../blocks/advantages-cabinet/advantages-cabinet.pug
include ../blocks/choice-block/choice-block.pug
include ../blocks/legal-form/legal-form.pug
include ../blocks/succes/succes.pug
include ../blocks/menu/menu.pug
include ../blocks/profile-card/profile-card.pug
include ../blocks/private-form/private-form.pug
include ../blocks/small-info-card/small-info-card.pug
include ../blocks/tech-service/tech-service.pug
include ../blocks/table/table.pug
include ../blocks/product-card/product-card.pug
include ../blocks/category-card/category-card.pug