.succes {
  max-width: 450px;
  &__wrap-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    height: 65px;
  }
  &__icon {
    display: block;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 164%;
    text-align: center;
    color: #999999;
  }
  &__wrap-btn {
    display: flex;
    justify-content: center;
  }
  &__btn {
    display: inline-block;
    padding: 1.2em 4em 1.15em 4em;
    font-size: 12px;
    color: #cc0514;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #cc0514;
    transition: .3s;
    cursor: pointer;
  }
  &__btn:hover {
    color: #ffffff;
    background-color: #cc0514;
    transition: .3s;
  }
  &__btn:focus {
    outline: none;
  }
}
