mixin succes
  +b.succes
    +e.wrap-elements
      +e.wrap-icon
        +e.IMG.icon(src="img/ok-icon.svg")
      +e.title Спасибо, ваша заявка принята
      +e.text На вашу почту и телефон отправлена информация о регистрации. Перейдите по указанной ссылке, чтобы активировать аккаунт
      +e.wrap-btn
        +e.A.btn(href="#") Зарегистрироваться