mixin tech-service
  +b.tech-service.mb-60
    +e.title
      +e.I.icon-wrap
        include /assets/img/setting-big-icon.svg
      span Предстоящее ТО
    +e.wrap-content
      +e.date 23.02.2020
      +e.name Jekko SPX527CDH
      +e.time 4 500 ч работы
    +e.BUTTON.btn.custom-btn Записаться на ТО