mixin points-card
  +b.points-card.mb-40
    +e.wrap-items
      +e.points-wrap
        +e.wrap-icon
          include /assets/img/box-icon.svg
        +e.point 50 <span>баллов</span>
      +e.text Информация о том, как начисляются баллы. Например, зак каждый арендодень вы получаете 1 балл. 1 балл стоит 1часу аренды. Вы можете использовать накопленные баллы для аренды оборудования. Выберите необходимую технику и свяжитесь с менеджером для использования подарочных дней.
          