*, *:after, *:before {
  box-sizing: border-box;
}

html {
  
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 188px;
  font-size: 60px;
  background-color: #ffffff;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #CC0514;
}

.default-title-block {
  padding: 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #3A3A3A;
  @media (max-width: 1140px) {
    text-align: center;
  }
}

.annotation {
  font-size: 14px;
  line-height: 1.6;
  color: #777777;
  @media (max-width: 1140px) {
    padding: 0 15px;
  }
}

.custom-btn {
  display: inline-block;
  padding: 1.2em 4em 1.15em 4em;
  font-size: 12px;
  color: #cc0514;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #cc0514;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background-color: #cc0514;
    transition: .3s;
  }
  &:focus {
    outline: none;
  }
  &--accent {
    color: #ffffff;
    background-color: #cc0514;
    transition: .3s;
  }
  &--no-accent:hover {
    color: #CC0514;
    background-color: #fff;
  }
}

/* style pages global */

.wrap-page-content {
  position: relative;
  background-color: #F9F9F9;
}

.trigger-left-menu {
  display: none;
  width: 100%;
  padding: 15px;
  border: 1px solid #F9F9F9;
  @media (max-width: 1140px) {
    display: block;
  }
}

[class *= "__left-col"] {
  @media (max-width: 1140px) {
    display: none;
  }
}


[class *= "__left-col"].active {
  @media (max-width: 1140px) {
    display: block;
  }
}

/* style pages global */

/* helpres */
.pt-30 {
  padding-top: 30px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-150 {
  padding-bottom: 150px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* helpers */

/* стили для страницы ВХОД В КАБИНЕТ */

.login-page {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap-elemets-page {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 90px;
    @media (max-width: 1140px) {
      padding: 0;
    }
  }
  &__left-col {
    width: 50%;
    @media (max-width: 1140px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__right-col {
    width: 50%;
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
}

/* стили для страницы ВХОД В КАБИНЕТ */

/* стили для страницы РЕГИСТРАЦИЯ */

.registration-page {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1140px) {
      margin: 0;
      padding: 0 15px;
    }
  }
  &__wrap-elemets-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 0 90px;
    @media (max-width: 1140px) {
      margin: 0;
      padding: 0;
    }
  }
  &__left-col {
    width: 50%;
    padding: 0 20px;
    @media (max-width: 1140px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__right-col {
    width: 50%;
    padding: 0 20px;
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
}

/* стили для страницы РЕГИСТРАЦИЯ */

/* стили для страницы РЕГИСТРАЦИЯ ЮР ФОРМА*/

.registration-legal-page {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap-elemets-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

/* стили для страницы РЕГИСТРАЦИЯ ЮР ФОРМА*/

/* ТАБЫ */
.active[data-tab-nav] {
  display: block;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* ТАБЫ */

/* стили для страницы УСПЕХ */

.succes-page {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap-elemets-page {
    display: flex;
    justify-content: center;
  }
}

/* стили для страницы УСПЕХ */

/* стили для страницы ПРОФИЛЬ */

.profile-page {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap-elemets-page {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
  }
  &__left-col {
    flex-basis: 230px;
    margin-right: 40px;
  }
  &__right-col {
    flex-grow: 1;
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
}

/* стили для страницы ПРОФИЛЬ */

/* обертка для карточек информации */

.wrap-small-info-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  @media (max-width: 1140px) {
    margin: 0;
  }
}

/* обертка для карточек информации */

/* обертка для карточек товара */

.wrap-product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  @media (max-width: 1140px) {
    margin: 0;
  }
}

/* обертка для карточек товара */

/* обертка для карточек категорий */
.wrap-category-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  @media (max-width: 1140px) {
    margin: 0;
  }
}

/* обертка для карточек категорий */

/* хлебные крошки */

.breadcrumbs {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
  @media (max-width: 1140px) {
    padding: 0 15px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-top: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #cc0514;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
  }
  svg {
    margin-right: 15px;
  }
}

/* хлебные крошки */

.wrap-btn-center {
  display: flex;
  justify-content: center;
  @media (max-width: 1140px) {
    flex-wrap: wrap;
  }
  &__btn {
    margin-right: 30px;
    @media (max-width: 1140px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}