html {
  
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 188px;
  font-size: 60px;
  background-color: #ffffff;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #CC0514;
}


/* style pages global */

.wrap-page-content {
  background-color: #F9F9F9;
}

/* style pages global */

/* стили для страницы ВХОД В КАБИНЕТ */

.login-page {
  padding-top: 50px;
  padding-bottom: 150px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__wrap-elemets-page {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 60px 0 80px;
    @media (max-width: 1140px) {
      padding: 0;
    }
  }
  &__left-col {
    width: 50%;
    @media (max-width: 1140px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__right-col {
    width: 50%;
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
}

/* стили для страницы ВХОД В КАБИНЕТ */