.small-info-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 30px);
  padding: 30px;
  background-color: #F2E3E6;
  &__title {
    margin-bottom: 25px;
    font-size: 16px;
    color: #8B6164;
  }
  &__wrap-content {
    margin-top: auto;
    color: #710626;
  }
  &__wrap-content--accent {
    color: #CC0514;
  }
  &__big-text {
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
    font-size: 61px;
    line-height: 1;
  }
  &__big-text--accent {
    color: #CC0514;
    font-size: 44px;
  }
  &__small-text {
    font-weight: 300;
    font-size: 28px;
  }
  &__small-text--accent {
    color: #CC0514;
  }
}
