.small-info-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 12 * 4 - 30px);
  margin: 0 15px 30px 15px;
  padding: 30px;
  background-color: #F2E3E6;
  @media (max-width: 1140px) {
    width: 100%;
  }
  &--col-6 {
    width: calc(100% / 12 * 6 - 30px);
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 25px;
    font-size: 16px;
    color: #8B6164;
  }
  &__wrap-content {
    margin-top: auto;
    color: #710626;
  }
  &__wrap-content--accent {
    color: #CC0514;
  }
  &__wrap-content--flex {
    display: flex;
    @media (max-width: 1140px) {
      flex-wrap: wrap;
    }
  }
  &__big-text {
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
    font-size: 61px;
    line-height: 1;
  }
  &__big-text--accent {
    color: #CC0514;
    font-size: 44px;
  }
  &__big-text--fz-45 {
    font-size: 45px;
  }
  
  &__small-text {
    font-weight: 300;
    font-size: 28px;
  }
  &__big-text--date-group {
    margin-right: 0;
    font-size: 28px;
    line-height: 1.2;
  }
  &__big-text--time {
    display: flex;
    color: #CC0514;
    font-weight: 300;
  }
  &__wrap-group-time {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__number {
    margin-right: 10px;
    font-size: 61px;
  }
  &__text {
    font-size: 24px;
    
  }
  &__small-text--accent {
    color: #CC0514;
  }
  &__right-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 1px solid #999999;
  }
  &__right-text span:first-child {
    margin-bottom: 5px;
  }
  &__info-wrap {
    display: flex;
    align-items: flex-end;
  }
  &__text-wrap {
    width: 40%;
    margin-left: 25px;
    font-size: 14px;
    @media (max-width: 1140px) {
      width: 100%;
      margin: 0;
      padding-top: 25px;
    }
  }
}
