.search {
  display: flex;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  @media (max-width: 1140px) {
    flex-wrap: wrap;
  }
  &__input {
    display: block;
    width: 100%;
    margin-right: 30px;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #afafaf;
    transition: border-color .3s ease;
    @media (max-width: 1140px) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
  &__input:last-of-type {
    margin-bottom: 0;
    @media (max-width: 1140px) {
      margin-bottom: 25px;
    }
  }
  &__input:focus {
    outline: none;
    border-color: #cc0514;
    transition: border-color .3s ease;
  }
  &__input::-webkit-input-placeholder {
    color: #999999;
  }
  &__input::-moz-placeholder {
    color: #999999;
  }
  &__input:-ms-input-placeholder {
    color: #999999;
  }
  &__input--textarea {
    max-width: 100%;
  }
  &__btn {
    white-space: nowrap;
    @media (max-width: 1140px) {
      width: 100%;
    }
  }
}
