mixin setting-subscriber
  +b.setting-subscriber.mb-60
    +e.wrap-items
      +e.title Получать сообщения на почту:
      +e.wrap-checkboxs
        +e.LABEL.item-checkbox
          +e.INPUT.checkbox(type="checkbox")
          +e.check
          span Новости Arlift
        +e.LABEL.item-checkbox
          +e.INPUT.checkbox(type="checkbox")
          +e.check
          span Новости Arlift
        +e.LABEL.item-checkbox
          +e.INPUT.checkbox(type="checkbox")
          +e.check
          span Новости Arlift
      +e.wrap-input
        +e.LABEL.label Сфера деятельности
        +e.SELECT.select
          option(value='') --Please choose an option--
          option(value='dog') Dog
          option(value='cat') Cat
          option(value='hamster') Hamster
          option(value='parrot') Parrot
          option(value='spider') Spider
          option(value='goldfish') Goldfish