mixin advantagesCabinet
  .advantagesCabinet
    .item
      .wrapIcon
        img.icon(src="img/clock-icon.svg")
      .wrapText
        .title Быстрое оформление заказа
        .text Самостоятельно оформляйте заказы в личном кабинете, контролируйте время аренды и документооборот
    .item
      .wrapIcon
        img.icon(src="img/percent-icon.svg")
      .wrapText
        .title Персональные бонусы и скидки
        .text Получайте персональные бонусы и скидки, накапливайте баллы, которое можно потратить на разные услуги
    .item
      .wrapIcon
        img.icon(src="img/reload-time-icon.svg")
      .wrapText
        .title История всех ваших заказов
        .text Ваши данные всегда под рукой.  Уточнить детали или повторить прошлый заказ можно в два клика