extends ../templates/template.pug

block content
  .title-page Вход в кабинет
  .wrapPageContent
    .loginPage
      .container
        .wrapElemetsPage
          .leftCol
            +loginForm
          .rightCol
            +advantagesCabinet