extends ../templates/template.pug

block content
  .title-page Вход в кабинет
  .wrap-page-content
    +b.login-page.pt-80.pb-150
      +e.container
        +e.wrap-elemets-page
          +e.left-col
            +login-form
          +e.right-col
            +advantages-cabinet