extends ../templates/template.pug

block content
  .title-page Регистрация
  .wrap-page-content
    button.trigger-left-menu Меню
    +b.profile-page.pt-30
      +e.container
        +e.wrap-elemets-page
          +e.left-col
            +menu
            +profile-card
          +e.right-col
            +b.UL.breadcrumbs
              +e.LI.item
                include /assets/img/arrow-left.svg
                +e.A.link(href="#") Все заказы
            .default-title-block.mb-25 Информация
            .wrap-small-info-card
              +small-info-card('Остаток на счету', '34 000', 'руб.', 'small-info-card__big-text--fz-45', '')
              +small-info-card('Даты аренды', '19.12.19 - 21.01.20', '', 'small-info-card__big-text--date-group','')
              +b.small-info-card
                +e.title До конца аренды
                +e.wrap-content
                  +e.SPAN.big-text.--time
                    +e.wrap-group-time
                      +e.number 2
                      +e.text дня
                    +e.wrap-group-time
                      +e.number 16
                      +e.text ч
            +order
            .default-title-block.mb-25 Доставка
            +table
            