extends ../templates/template.pug

block content
  .title-page Регистрация
  .wrap-page-content
    +b.profile-page.pt-30
      +e.container
        +e.wrap-elemets-page
          +e.left-col
            +menu
          +e.right-col
            |sdfsdfsdfsdfsdf
            