mixin product-card
  +b.product-card
    +e.wrap-img
      +e.IMG.img(src='https://www.arlift.ru/upload/resize_cache/iblock/330/196_200_2/SPB 209.jpg', alt='Мини-кран SPB209CP')
    +e.title Мини-кран JF545CDH-2
    +e.wrap-prop
      +e.item-prop
        +e.prop-key Цена аренды
        +e.prop-value от 10 000 руб. 
      +e.item-prop
        +e.prop-key Грузоподъемность
        +e.prop-value 0.99 т
      +e.item-prop
        +e.prop-key Макс. вылет стрелы
        +e.prop-value 6.5 м
      +e.item-prop
        +e.prop-key Вес
        +e.prop-value 1.45 т
      +e.item-prop
        +e.prop-key Привод
        +e.prop-value ДВС
    +e.wrap-price
      +e.price-new от 15 000 руб.
      +e.price-old от 19 000 руб.
    +e.wrap-btn.text-center
      +e.A.btn.custom-btn(href="#") Подробнее 
