mixin all-services
  +b.all-services
    +e.item
      +e.icon-wrap
        img(src="img/to.png", alt="")
      +e.title Гарантийное ТО
      +e.text Техническая служба ARLIFT имеет все необходимые сертификаты и лицензии от производителей.
    +e.item
      +e.icon-wrap
        img(src="img/after-to.png", alt="")
      +e.title ПОСЛЕГАРАНТИЙНОЕ ТО
      +e.text Наша техническая служба поможет вам даже после окончания гарантии на спецтехнику.
    +e.item
      +e.icon-wrap
        img(src="img/zapchasti.png", alt="")
      +e.title ПРОДАЖА ЗАПЧАСТЕЙ
      +e.text У нас в наличии большой ассортимент запчастей для спецтехники различных производителей.
    +e.item
      +e.icon-wrap
        img(src="img/spec-move.png", alt="")
      +e.title ВЫЕЗД СПЕЦИАЛИСТА
      +e.text Вы можете заказать выезд специалиста на объект для проведения диагностики или ремонта.
    +e.wrap-btn
      +e.BUTTON.btn(href="#") Задать вопрос менеджеру