mixin reset-password
  +b.reset-password.mb-60
    +e.wrap-elements
      +e.wrap-input.--w50
        +e.INPUT.input(placeholder="Старый пароль")
      +e.wrap-input.--w50
        +e.INPUT.input(placeholder="Новый апроль")