.reset-password {
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  &__wrap-elements {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__wrap-input {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__wrap-input--w50 {
    width: calc(100% / 12 * 6 - 30px);
    @media (max-width: 1140px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__input {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #afafaf;
    transition: border-color .3s ease;
  }
  &__input:last-of-type {
    margin-bottom: 0;
  }
  &__input:focus {
    outline: none;
    border-color: #CC0514;
    transition: border-color .3s ease;
  }
  &__input::-webkit-input-placeholder {
    color: #999999;
  }
  &__input::-moz-placeholder {
    color: #999999;
  }
  &__input:-ms-input-placeholder {
    color: #999999;
  }
  &__input--textarea {
    width: 100%;
    max-width: 100%;
  }
}
