mixin advantages-cabinet
  +b.advantages-cabinet
    +e.item
      +e.wrap-icon
        +e.IMG.icon(src="img/clock-icon.svg")
      +e.wrap-text
        +e.title Быстрое оформление заказа
        +e.text Самостоятельно оформляйте заказы в личном кабинете, контролируйте время аренды и документооборот
    +e.item
      +e.wrap-icon
        +e.IMG.icon(src="img/percent-icon.svg")
      +e.wrap-text
        +e.title Персональные бонусы и скидки
        +e.text Получайте персональные бонусы и скидки, накапливайте баллы, которое можно потратить на разные услуги
    +e.item
      +e.wrap-icon
        +e.IMG.icon(src="img/reload-time-icon.svg")
      +e.wrap-text
        +e.title История всех ваших заказов
        +e.text Ваши данные всегда под рукой.  Уточнить детали или повторить прошлый заказ можно в два клика