mixin menu
  +b.menu
    +e.NAV.navigation
      +e.UL.wrap-items
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/home-icon.svg
            span Личный кабинет
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap.--menu
              include /assets/img/menu-icon.svg
            span Мои заказы
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/star-icon.svg
            span Избранное
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/percent-small-icon.svg
            span Мои скидки
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/user-icon.svg
            span Мой профиль
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/messages-icon.svg
            span Чат с менеджером
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/setting-icon.svg
            span Тех. служба
        +e.LI.item
          +e.A.link(href="#")
            +e.I.icon-wrap
              include /assets/img/book-icon.svg
            span Обучение