mixin category-card
  +b.category-card
    +e.date-wrap
      +e.date
        |23
        span дня
    +e.content
      +e.wrap-img
        +e.IMG.img(src="img/demo-category.jpg")
      +e.title Ножничные вышки
      +e.wrap-btn.text-center
        +e.BUTTON.btn.custom-btn Выбрать